#page-container{
    width: 760;
    margin: auto; 
}
#header{
  padding: 80px;
  text-align: center;
  background-image: linear-gradient(to bottom, #a52a2a, #7c202a, #541923, #2d1218, #000000);
  color: white;
}
#header h1 {
  font-size: 40px;
  text-shadow: 0 0 25px rgba(0,0,0,1), 0 0 20px rgba(0,0,0,1), -6px -5px 20px rgba(0,0,0,1);  
}

#nav-bar{
  float: left;
  color: white;
  text-align: center;
  padding: 10px 10px;
      
  text-decoration: none;
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 5px;    
  text-shadow: 2px 2px 5px #000000, 4px 4px 5px #000000;  
     
}

#nav-bar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0px 136.9px;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 5px;  
    background-color: rgba(169, 169, 169, 0.8);
    
}

#nav-bar li 
{
    width: 311px;   
    float: left;  
}


#nav-bar li a
{
    display: block;
    color: #ffff;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

#nav-bar li a:hover 
{
    transition: all .25s linear;
    background-color: #555;
    color: white;
}

#sidebar{
  background-color:#e5e5e5;
  float:right;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}


#secondsidebar{
  background-color: antiquewhite;
  float:right;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.warning
{
    font-style: italic;
    font-size: 12px;
}

#content
{
  
  width:60%;
  margin-right: 280px;
  margin-top: 90px    
}

#content p
{

}
#content img
{
   
}

.homeimages
{
  display: inline-block;
  float: left;
  margin-left: 150px;
  margin-right: auto;
  
  
}
.homeimages img
{
    border-color: #555;
    border-width: 5px;
    border-style: solid;
}

.homeimages p
{
    font-style: italic;
    width: 60%;

    margin-top: 1;
    margin-bottom: 1;
    font-family: courier;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

#contact{
    
}

.active
{
    background-color: #4CAF50;
}

.pic2 {
    display: flex;
}

.list-container {
    display: flex;
    justify-content:flex-start;
}

img {
    border: solid;
}

.picture-padding {
    padding-left: 15px;
}

#nav-contents a {
    float: left;
    margin: 10px;
}

#content51 {
    width:60%;
    margin-right: 280px;
    margin-top: 90px    
}

footer {
    margin: 40px 40px 0px 0px;
}