#page-container{
    width: 760;
    margin: auto;
    background: red; 
}
#header{
  padding: 80px;
  text-align: center;
  background: brown;
  color: white;
}
#header h1 {
  font-size: 40px;
}
#nav-bar{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;   
}
#left-sidebar{
  background-color:#e5e5e5;
  float:right;
  width:25%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
#sidebar{
  background-color:#e5e5e5;
  float:right;
  width:25%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
#content{
  float:left;
  width:60%;
  padding:20px 20px;  
  margin-top: 50px
  margin-left: 20px; 
}
.container{
    background-color: antiquewhite;
}
#navbar a{
    float: left;
    display: flex;
    margin: 10px;
}